* {
  padding: 0;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li{
  list-style: none;
}

#header {
  position: relative;
  top: 0;
  z-index: 10;
  filter: none;
}

header {
  height: 75px;
}

header a {
  width: 80%;
  height: 100px;
  position: relative;
  top: 0;
  left: 10%;
  padding: 10px;

  text-align: center;
  display: block;
}

header a img {
  width: 200px;
  padding: 5px;
}

nav {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 110;
  justify-content: center;
  text-align: center;
  background-color: #ff7f32;
  padding-left: 2vw;
  
}

.cont-ul {
  position: relative;
  align-items: center;
  height: 60px;
  margin-left: 1%;
  margin-right: 2%;
}

nav li {
  width: 20%;
  list-style: none;
  cursor: pointer;
  padding: 1.5vw;
  transition: all 0.3s ease 0s;

}
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav li:hover {
  background-color: #9c6644;
}

.equipo{
  position: absolute;
  left: 0;
  z-index: 20;
}

.develop {
  position: absolute;
  left: 20%;
  
  z-index: 20;
  
}

.promo{
  position: absolute;
  left: 40%;
  z-index: 20;
}

.contacto{
  position: absolute;
  left: 60%;
  z-index: 20;
}

.blog{
  position: absolute;
  left: 80%;
  z-index: 20;
}

.ul-second {
  display: none;
  position: absolute;
  margin-top: 1.5vw;
}

.ul-second > li {
  width: 190px;
  transform: translateX(-20px);
  border-bottom: solid 1px black;
  text-align: space;
  background-color: #ff7f32;
}

.ul-second > li:hover {
  background-color: #ff7f32;
}

.develop:hover > .ul-second {
  display: block;
}


.box-contact {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 60px;
  z-index: 100;
  background-color: black;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.box-contact a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.punto {
  margin-top: 1px;
}

.text-primary {
  color: #ff7f32;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.footer{
  height: fit-content;
  background-color: #24262b;
  padding: 80px 0;
}

.footer-row{
  background-color: #24262b;
   display: flex;
   flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h4{
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  display: inline-block;
  padding-bottom: 10px;
}

.footer-links ul li a{
  font-size: 18px;
  text-decoration: none;
  color: #BBBBBB;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}

.footer-links ul li a:hover{
  color: #FFFFFF;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all .5s ease;
}

.social-link a:hover{
  background-color: #00C3FF;
}

@media(max-width:991px){
  .footer-row{
      text-align: center;
  }


  .footer-links{
      width: 100%;
      margin-bottom: 30px;
  }



}
