body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
  background-color: #f1f1f1;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
h2 {
  color: #ff7f32;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 40px;
}

input,
textarea,
select {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: 2px solid #f0faf1;
  color: #283629;
  outline: none;
}

.form-text {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-text a {
  color: #ff7f32;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: #f0faf1;
  border: 0;
  border-radius: 25px;
  background-color: #ff7f32;
  box-shadow: rgba(25, 254, 0, 0.4);
  cursor: pointer;
}
.btn:hover {
  background-color: #e8722b;
}

@media (max-width: 991px) {
  body {
    padding: 30px;
  }

  form {
    padding: 50px 30px;
    width: 100%;
  }

  input {
    padding: 15px;
  }
}
