
/* Aqui empieza el cuerpo */

.cuerpo {
  margin-top: 0%;
  position: relative;
  z-index: 0;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.nosotros {
  text-align: center;
  background-color: #ff7f32;
  height: 450px;
  padding-top: 3%;
}

.marco {
  width: 250px;
  height: 350px;
  background-color: white;
  float: left;
  border: 2px black solid;
  margin-left: 120px;
  padding-top: 20px;
}

.foto {
  width: 200px;
  height: 220px;
  border: 2px black solid;
  margin-bottom: 4%;
}

.descripcion {
  padding-top: 6%;
}

.empleo {
  color: white;
}

/* Aqui empieza el cuerpo */

